In [11]:
import sqlite3
conn=sqlite3.connect("Harshh.db")
conn.execute('''create table oostexp (id int primary key,nm char(20) not null,age int not null,marks int not null)''')
conn.execute('''insert into oostexp (id,nm,age,marks) values(1,'asd',20,89)''')

In [12]:
conn.execute('''insert into oostexp (id,nm,age,marks) values(2,'asddd',21,88)''')
conn.execute('''insert into oostexp (id,nm,age,marks) values(3,'as2dd',22,87)''')
conn.execute('''insert into oostexp (id,nm,age,marks) values(4,'asqwed',23,86)''')
conn.execute('''insert into oostexp (id,nm,age,marks) values(5,'astyrytrd',24,85)''')
conn.execute('''insert into oostexp (id,nm,age,marks) values(6,'asasdasdd',25,86)''')

In [16]:
cursor=conn.execute('''select id,nm,age,marks from oostexp''')
for row in cursor:
    print("id=",row[0])
    print("nm=",row[1])
    print("age=",row[2])
    print("marks",row[3])

id= 1
nm= asd
age= 20
marks 89
id= 2
nm= asddd
age= 21
marks 88
id= 3
nm= as2dd
age= 22
marks 87
id= 4
nm= asqwed
age= 23
marks 86
id= 5
nm= astyrytrd
age= 24
marks 85
id= 6
nm= asasdasdd
age= 25
marks 86

In [19]:
conn.execute("Update oostexp set age=40 where id=1")
conn.commit()

In [20]:
cursor=conn.execute('''select id,nm,age,marks from oostexp''')
for row in cursor:
    print("id=",row[0])
    print("nm=",row[1])
    print("age=",row[2])
    print("marks",row[3])

id= 1
nm= asd
age= 40
marks 89
id= 2
nm= asddd
age= 21
marks 88
id= 3
nm= as2dd
age= 22
marks 87
id= 4
nm= asqwed
age= 23
marks 86
id= 5
nm= astyrytrd
age= 24
marks 85
id= 6
nm= asasdasdd
age= 25
marks 86

In [21]:
conn.execute("Delete from oostexp where id=2")
conn.commit()

In [22]:
cursor=conn.execute('''select id,nm,age,marks from oostexp''')
for row in cursor:
    print("id=",row[0])
    print("nm=",row[1])
    print("age=",row[2])
    print("marks",row[3])

id= 1
nm= asd
age= 40
marks 89
id= 3
nm= as2dd
age= 22
marks 87
id= 4
nm= asqwed
age= 23
marks 86
id= 5
nm= astyrytrd
age= 24
marks 85
id= 6
nm= asasdasdd
age= 25
marks 86